{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 50.52267158555115,
    "longitude": 30.616326928138736,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Головна",
    "time_zone": "Europe/Kyiv",
    "external_url": null,
    "internal_url": null,
    "currency": "UAH",
    "country": "UA",
    "language": "uk"
  }
}